.titulo{
/* REGISTRAR EQUIPO */

position: absolute;
width: 302px;
height: 38px;
left: 809px;
top: 60px;

font-family: 'Raleway';
font-style:  normal;
font-weight: 500;
font-size: 28px;
line-height: 0px;
/* identical to box height */
text-align: center;

color: #ffffff;

}

.fondo{

/* Rectangle 2 */

position: absolute;
width: 895px;
height: 64px;
left: 512px;
top: 49px;

background: #696969;
border-radius: 50px;
    
}


